* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
  color: #fff;
}
a {
  color: #fff;
}
a:visited {
  color: #fff;
}

.text {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #fff;
  font-family: sans-serif;
  font-size: 16px;
  z-index: 1;
}

.btn-container {
  position: absolute;
  top: 200px;
  right: 50px;
  width: 120px;
}

.btn {
  text-decoration: none;
  display: inline-block;
  border: none;
  width: 120px;
  height: 60px;
  margin: 10px 0;
  text-align: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 15px;
  border-color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.3);
  transition-duration: 0.4s;
}

.btn:active {
  background-color: rgba(255, 255, 255, 0.9);
}

.icon {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #fff;
  font-size: 36px;
  cursor: pointer;
}

.footer {
  position: absolute;
  bottom: 10px;
  right: 0px;
  margin-right: 20px;
  text-align: right;
  font-family: sans-serif;
  font-size: 12px;
}
